<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<app-banniere></app-banniere>
<nav mat-tab-nav-bar>
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      <mat-icon class="example-tab-icon">{{link.icon}}</mat-icon> {{link.label}}
    </a>
</nav>
<router-outlet></router-outlet>
