@import "../../../assets/styles/variables.scss";

.matchbox{
    background-color:$back-light;
    padding:5px;
    border-style:solid;
    border-width: 4px;
    border-color: $back-light;
    border-radius:5px;
    width:300px;
    margin:10px;

    .sport{
        font-size:26px;
        display: flex;
        justify-content: space-between;
    }

    .jstat{
        display: flex;
        justify-content: space-between;
    }
}