<div class="matchbox">
    <div class="sport">
      PING-PONG
      
      <span class="iconbuttons">
          <button mat-icon-button color="accent"><mat-icon aria-label="Editer" (click)="edit(match.id)">edit</mat-icon></button>
          <button mat-icon-button color="warn"><mat-icon aria-label="Supprimer" (click)="delete(match.id)">delete</mat-icon></button>
        </span>
    </div>
    Arbitre : {{match.arbitre.Prenom}} {{match.arbitre.Nom}}<br/>
    Date : {{match.DateTime | date: 'dd/MM/yyyy'}}<br/><br/>
    <div class="jstat">
      <span>{{match.joueur1.Prenom}} {{match.joueur1.Nom}}</span>
      <span>{{match.score_j2.totalPoints}}</span>
    </div>
    <div class="jstat">
      <span>{{match.joueur2.Prenom}} {{match.joueur2.Nom}}</span>
      <span>{{match.score_j2.totalPoints}}</span>
    </div>
  </div>
