/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/theme.scss";
@import "./assets/styles/variables.scss";
@include mat-core();
@include angular-material-theme($my-theme);

body{
    padding:0;
    margin:0;
    background-color:  $back-dark;
    font-family:Arial;
}
 
@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}