// theme.scss
@import '~@angular/material/theming';
$my-theme-primary: mat-palette($mat-light-blue);
$my-theme-accent : mat-palette($mat-grey, 0);
$my-theme-warn   : mat-palette($mat-red);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);