<p>
  ORGANISATION
</p>
<form [formGroup]="createJoueurForm" (ngSubmit)="onSubmit()">
  <table>
    <h4>
      Création d'un joueur :
    </h4>
    <tr>
      <mat-form-field>
        <input matInput placeholder="Nom" formControlName="Nom">
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Prenom" formControlName="Prenom">
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Nationalite</mat-label>
        <mat-select formControlName="Nationalite">
          <mat-option *ngFor="let nationalite of nationalites" [value]="nationalite.value">
            {{nationalite.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="DateDeNaissance">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

    </tr>
    <br/>
      <button mat-raised-button color="accent" type="submit" [disabled]="!createJoueurForm.valid">Creer</button>
    <br/>
  </table>
</form>