@import "../../../assets/styles/variables.scss";

.banniere{
    background-color:$back;
    display: flex;
    align-items:center;
    margin:0;
    padding:0;

    h2{
        font-family:"Arial Black";
        color:$text-default;
        font-size:35px;
    }

    img{
        width:73px;
        height:64px;
        padding:10px 20px 10px 20px;
    }
}

hr{
    padding:0;
    margin:0;
    border: 1px solid #c2c2c1;
}

@media (max-width: 800px){
        h2{
            color:$text-default;
            img{
                width:37px;
                height:32px;
                padding:5px 10px 5px 10px;
            }
        }
}

