<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<p>
  ORGANISATION
</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <table>
    <h4>
    Entrez vos identifiants :
    </h4>
    <tr>
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="Login">
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" formControlName="MotDePasse">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </tr>
    <br/>
      <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Login</button>
    <br/>
  </table>
</form>