<p>
  ORGANISATION
</p>
<form [formGroup]="createMatchForm" (ngSubmit)="onSubmit()">
  <table>
    <h4>
    Creation d'un match :
    </h4>
    <tr>
      <mat-form-field>
        <mat-label>Sport</mat-label>
        <mat-select formControlName="Sport">
          <mat-option *ngFor="let sport of sports" [value]="sport.ID">
            {{sport.Label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi [startAt]="date" #picker></mat-datepicker>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Organisation</mat-label>
        <mat-select formControlName="Organisation">
          <mat-option *ngFor="let organisation of organisations" [value]="organisation.id">
            {{organisation.Nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Etat</mat-label>
        <mat-select formControlName="Etat">
          <mat-option  [value]=0> 0 </mat-option>
          <mat-option  [value]=1> 1 </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Arbitre</mat-label>
        <mat-select formControlName="Arbitre">
          <mat-option *ngFor="let arbitre of arbitres" [value]="arbitre.id">
            {{arbitre.Nom}} {{arbitre.Prenom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Joueur 1</mat-label>
        <mat-select formControlName="Joueur1">
          <mat-option *ngFor="let joueur of joueurs" [value]="joueur.ID">
            {{joueur.Nom}} {{joueur.Prenom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Joueur 2</mat-label>
        <mat-select formControlName="Joueur2">
          <mat-option *ngFor="let joueur of joueurs" [value]="joueur.ID">
            {{joueur.Nom}} {{joueur.Prenom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </tr>
    <br/>
      <button mat-raised-button color="accent" type="submit" [disabled]="!createMatchForm.valid">Creer</button>
    <br/>
  </table>
</form>