@import "../../../assets/styles/variables.scss";
@import "../../../styles.scss";

.matchbox{
    background-color:$back-light;
    padding:5px;
    border-style:solid;
    border-width: 4px;
    border-color: $back-light;
    border-radius:5px;
    width:40px;
    margin:10px;

    display: flex;
    align-items: center;
    justify-content: center;
}