<p>
  ORGANISATION
</p>
<form [formGroup]="createArbitreForm" (ngSubmit)="onSubmit()">
  <table>
      <h4>
      Création d'un arbitre :
      </h4>
      <tr>
        <mat-form-field>
          <input matInput placeholder="Nom" formControlName="Nom"> 
        </mat-form-field>
        <br/>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Prenom" formControlName="Prenom">
        </mat-form-field>
        <br/>
        <br/>
        <mat-form-field>
          <mat-label>Nationalite</mat-label>
          <mat-select formControlName="Nationalite">
            <mat-option *ngFor="let nationalite of nationalites" [value]="nationalite.value">
              {{nationalite.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Login"  formControlName="Login">
        </mat-form-field>
        <br/>
        <br/>
        <mat-form-field>
          <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'"  formControlName="MotDePasse">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </tr>
      <br/>
        <button mat-raised-button color="accent" type="submit" [disabled]="!createArbitreForm.valid">Creer</button>
      <br/>
  </table>
</form>